# Dependencies
node_modules/
dist/
.npm/

# Environment Variables
.env
.env.local
.env.test

# OS Files
.DS_Store
Thumbs.db

# Uploaded Files
uploads/
!uploads/.gitkeep

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor Configs
.vscode/
.idea/